* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.header {
  padding: 20px;
}

.main_image{
  width: 100%;
  height: 400px;
  background-image: url("img/mv.jpg");
  background-size: cover;
  background-position: bottom;
}

main{
  width: 840px;
  margin: 50px auto;
}

.arc1{
  margin-bottom:30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #d1d1d1;
}